//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------
.button,div.responsive .button, .Button, a.btn {
    border: none;
    background-image: none;
    .box-shadow(2px 2px 4px rgba(0,0,0,.2));
    //.border-radius(15px);
    .transition(all 0.3s);
    font-weight: normal;
    .text-uppercase;
    text-decoration: none !important;
    outline: 0;
    &:link
    &:hover,
    &:focus {
        outline: 0;
        text-decoration: none !important;
    }
}
a.btn-default-pwna{
    .button-variant(@white; @brand-yellow; transparent);
    .button-size(8px; 24px; @font-size-large; @line-height-large; @border-radius-large);
    &:link,
    &:visited{
        &:extend(a.btn-default-pwna all);
    }
    //font-size: 2em;
}
a.btn-primary-pwna{
    .button-variant(@brand-red; @brand-gray-light; transparent);
    .button-size(8px; 24px; @font-size-large; @line-height-large; @border-radius-large);
    &:link,
    &:visited{
        &:extend(a.btn-primary-pwna all);
    }
}
.button-submit{
    .button-variant(@brand-red; @brand-gray-light; transparent);
    .button-size(8px; 24px; @font-size-large; @line-height-large; @border-radius-large);
    filter: inherit;
	-ms-filer: inherit;
	background-image: inherit;
        line-height: inherit;
	outline: none;
    &:link,
    &:visited{
        &:extend(a.button-submit all);
    }
}