#home-carousel{
    overflow: hidden;
    max-width:1800px;
    margin: 0 auto;
    z-index: 1;
    .item{
        img{
            width: 100%;
            
            .center-block();
        }
        .caption-container{            
            @media(min-width: @screen-sm) {
                .container;
                position: absolute;
                top:9%;
                left: 50%;
                margin-left: -1 * (@container-sm/2);
            }
            @media(min-width: @screen-md) {
                margin-left: -1 * (@container-md/2);
            }
            @media(min-width: @screen-lg) {
                margin-left: -1 * (@container-lg/2);
            }
        }
    }
    .carousel-indicators {
        //left: auto;
        bottom: 5%;
        //top: 0;
        margin: 0;
        width: 90%;
        max-width: @screen-md;
        
        .h-align();
        position: absolute;
        li {
            background-color: @brand-gray;
            .border-radius(50%);
            border: 2px solid lighten(@brand-gray, 10%);
            display: inline-block;
            width: 15px;
            max-width: 150px;
            height: 15px;
            margin: 0 1%;
            img {
                width: 100%;
                display: none;
                opacity: 0.9;
            }
            &.active{
                background-color: @brand-yellow;
                img {
                    opacity: 1;
                }
            }
        }
    }
    .carousel-caption{
        right: auto;
        bottom: auto;
        top: 0;
        left: 15px;
        .rgba(darken(@brand-gray, 20%), 0.8);
        padding: 2% 2%;
        text-align: left;
        font-size: 18px;
        h4{
            color: @white;
            line-height: @line-height-computed;
            font-size: 20px;
            margin-top:0;
        }
        .btn{
            margin-top: 15px;
            padding: 8px 20px;
            text-align: left;
            .border-radius(20px);
            color: @black-light;
            display: table;
            &:hover{background-color: @brand-gray;}
            >span{
                display: table-cell;
                margin: 0;
                line-height: 28px;
                font-size: 25px;
                font-weight: 400;
                vertical-align: middle;
                span{
                    display: block;
                    line-height: 17px;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
            .fa{
                .text-right;
                display: table-cell;
                vertical-align: middle;
                font-size: 2.4em;
            }
        }
    }
    @media(max-width: @screen-lg) {
        .carousel-caption{
            font-size: @font-size-h4;
            padding: 15px;
            h4{
                line-height: @line-height-computed;
                font-size: @font-size-h4;
            }
        }
    }
    @media(max-width: @screen-xs-max) {
        .carousel-indicators{
            top: 0;
            bottom: auto;
            margin-top: 32%;
        }
        .carousel-caption{
            position: static;
            width: 100%;
            padding: 15px;
            background-color: darken(@brand-gray, 20%);
            font-size: @font-size-h5;
            h4{
                line-height: @line-height-computed;
                font-size: @font-size-h5;
            }
        }
   }
}
.carousel-fade {
    .carousel-inner {
        .item {
            left: 0 !important;
            .transition(opacity .4s); //adjust timing here
        }
        .carousel-control {
          background-image: none; // remove background gradients on controls
        }
        // Fade controls with items
        .next.left,
        .prev.right {
          opacity: 1;
          z-index: 1;
        }
        .active.left,
        .active.right {
          opacity: 0;
          z-index: 2;
        }
  }
  .carousel-control {
    z-index: 2;
  }
}