@import "variables.less";
@theme-primary-color: @brand-purple;
@theme-header-border-color: @theme-primary-color;
@theme-header-social-color: @theme-primary-color;
@theme-footer-bg-color: @theme-primary-color;
@theme-page-title-bg-image: url('../images/rar/heading_bg.gif');
@theme-page-title-bg-color: @theme-primary-color;
@theme-caption-bg-color: @theme-primary-color;

@dropdown-bg: @theme-primary-color;
@navbar-default-link-active-color: @theme-primary-color;

@import "wrapper.less";