@import "variables.less";
@theme-primary-color: @brand-purple;
@theme-light-color: lighten(@theme-primary-color, 62%);;
@theme-header-border-color: @theme-primary-color;
@theme-header-social-color: @theme-primary-color;
@theme-footer-bg-color: @theme-primary-color;
@theme-footer-link-color: lighten(@theme-primary-color, 50%);
@theme-page-title-bg-image: url('../images/rar/heading_bg.gif');
@theme-page-title-bg-color: @theme-primary-color;
@theme-caption-bg-color: @theme-primary-color;
@theme-primary-button-color: @brand-purple;
@theme-primary-button-bg: @brand-gray-light;
@theme-carousel-caption-bg-color: @theme-primary-color;
@theme-carousel-button-color: @theme-primary-color;
@theme-sidecol-primary-color: @theme-primary-color;
@theme-sidecol-light-color: lighten(@theme-primary-color, 65%);;

@link-color:            @theme-primary-color;
@link-hover-color:      darken(@link-color, 15%);
@dropdown-bg: @theme-primary-color;
@navbar-default-link-active-color: @theme-primary-color;

@import "wrapper.less";

.buttons_list_lg{
    .center-block;
    max-width: 500px;;
    a{
        .clearfix;
        .user-select(none);
        .box-shadow(inset 0 0px 10px rgba(255,255,255,.8));
        .border-radius(5px);
        font-family: @font-family-oswald;
        text-decoration: none !important;
        display: block;
        margin-bottom: 15px;
        font-size: 1.4em;
        padding: 10px;
        background-color: @theme-primary-color;
        color: @white;
        //.transition(all 0.05s linear);
        img{
            .pull-left;
            margin-right: 10px;
            max-width: 80px;
        }
        span{
            font-size: 1.1em;
            color: @brand-yellow;
            text-shadow: 1px 1px 2px @black;
        }
        i.fa{
            font-size: 1.4em;
        }
        &:hover{
            .scale(1.02);
        }
    }
}
/* ****************************** SAGE Overrides ****************************** */
input.default-submit-hack{
    padding: 0 !important;
}
td.TableHeadings, .ProgressBox{
    .bg-theme;
}
td.TableHeadings{
    line-height: 35px;
}
p.PaddedListHeadingsR a{
    color: @theme-primary-color;
}
.FormBox99, table.FormBox{
    background-color: @white;
    border: none;
}
.ProgressBox p, .ProgressBoxCurrent p{
    margin-bottom: 0;
}
table.ProgressBox{
    border-color: @theme-primary-color;
}
a.ProgressBox:link, a.ProgressBox:visited{
    font-size: inherit;
    color: @theme-primary-color;
}
.ProgressBoxCurrent{
    background-color: @brand-yellow;
}
.ErrorMessage{
    padding: 5px;
    margin-top: 10px;
    .bg-variant(@state-danger-bg);
    color: @state-danger-text;
    border:1px solid @state-danger-border;
    .border-radius(5px);
}
/* ****************************** SAGE Overrides ****************************** */