@import "variables.less";
@theme-primary-color: @brand-red;
@theme-header-border-color: @theme-primary-color;
@theme-header-social-color: @theme-primary-color;
@theme-footer-bg-color: @theme-primary-color;
@theme-footer-link-color: lighten(@theme-primary-color, 50%);
@theme-page-title-bg-image: url('../images/heading_bg.gif');
@theme-page-title-bg-color: @theme-primary-color;
@theme-caption-bg-color: @theme-primary-color;
@theme-primary-button-color: @theme-primary-color;
@theme-primary-button-bg: @brand-gray-light;
@theme-carousel-button-color: @theme-primary-color;

@dropdown-bg: @theme-primary-color;
@navbar-default-link-active-color: @theme-primary-color;

@import "wrapper.less";