// Luminate Online responsive stuff
.mobile div.responsive, 
.mobile div.responsive div.ErrorMessage.page-error>span.field-error-text {
  width: auto;
}
div.responsive div.ErrorMessage.page-error>span.field-error-text {
  .noBg-noBorder-noPadding;
}

// Donation forms
div.donation-form-container.responsive {
  .noBg-noBorder-noPadding;
}
/* ****************************** UserGlobalStyle Style Overrides ****************************** */

P, LI, OL, UL, TABLE, TR, TH, TD, .Explicit, 
BODY, TEXTAREA, INPUT, SELECT, OPTION, 
.Hint, 
.NoteText, 
.ObjTitle, 
.Smaller, 
.SmallerC, 
h5.dividerHeading, 
p.dividerHeading, 
.Divider, 
.SectionHead, 
a#about_ssl, a#about_ssl:link, a#about_ssl:active, a#about_ssl:hover, 
.ListItem0, .ListItem1, 
.Button, 
.SmallButton, 
.NetscapeFix, 
LEGEND, 
.AdvocacyInstructions, 
input.Advocacy, 
select.Advocacy, 
.AdvocacyNSFix, 
.Instructions, 
.ProgressBox, 
.ProgressBoxCurrent, 
.Premiums, 
.Upgrades, 
.FormBoxHeader, 
.FormBox, 
input.FriendRaiserButtons, 
input.AddressBookButtons, 
p.scrollingText, 
p.cstmTitle, 
p.cstmHeading, span.cstmHeading, 
p.cstmBtnText, 
a.cstmBtnText:link, 
a.cstmBtnText:visited, 
a.cstmBtnText:hover, 
.WhatNext, 
p.giftAidMatchAmount, 
table.GiftAidBox p, 
TD.AlertListDescription, DIV.AlertListDescription, 
.paraBlueSansSmall, 
.smallBlack, 
.smallSans, 
.smallSansBold, 
.smallestBlackSans, 
.smallWhiteSans, 
.smallWhiteBoldSans, 
a.btn, a.btn:visited, a.editBtn, a.editBtn:visited, input.btn, input.btnMini, input.btnSm, input.btnMed, input.btnLg, 
#login-div-content span.RequiredField, 
#user_home_wrapper_top, 
#user_home_wrapper_top input, 
#user_home_wrapper_top select, 
#user_home_wrapper_top option,
.cons-pers td, .cons-pers p, .cons-pers label, .cons-pers fieldset, .cons-pers .Explicit
{
    font-family: inherit;
    font-size: inherit;
}
// Links
div.responsive a{
    color: @link-color;
    text-decoration: none;
    &:link, 
  &:visited {
    color: @link-color;
  }
  
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: underline;
  }
  
  &:focus {
    .tab-focus();
  }
}

// Forms
label {
  white-space: normal;
}
label.FormLabel {
  &:extend(label all);
}

div.appArea, .appArea, .appAreaNowidth
{
	width: auto;
	margin: 0;
}

.ObjTitle,
.cons-prof h3
{
	font-size: inherit;
	margin: inherit;
	padding: inherit;
	border-bottom: inherit;
	color: inherit;
        .h3;
}

/* ****************************** Survey Style Overrides ****************************** */
legend.surveyLegend{
    border: none;
    margin-bottom: 15px;
}
table input[type="text"], table textarea, table select{
width: 98% !important;
}
/* ****************************** TRPageResponsive Style Overrides ****************************** */

div.required-indicator-legend
{
	padding: 0 0 5px 0;
}
div.custom-wysiwyg-text p{
    white-space: normal;
    word-wrap: normal;
}

/* ****************************** TRRegResponsive Style Overrides ****************************** */

select{
    &:extend(.form-control all);
}
.cardExpGroup select{
    width: auto !important;
    float: left;
    &#responsive_payment_typecc_exp_date_MONTH{
        margin-right: 5px;
    }
}
/* ****************************** ResponsiveBase Style Overrides ****************************** */

div.responsive
{
	color: inherit;
	font-family: inherit; 
	font-size: inherit;
	width: inherit;
	margin: 0;
}

.resp-debug div.responsive
{
	border: inherit;
	border-radius: inherit;
}

div.responsive textarea, 
div.responsive input,
div.responsive select,
div.responsive option
{
	vertical-align: inherit;
}
div.part-type-container input{vertical-align: top !important;}

div.responsive div.ErrorMessage.page-error,
div.responsive div.ErrorMessage.page-error > span.field-error-text
{
	width: auto;
	padding-bottom: 3px;
	padding-top: 3px;
}

div.responsive input.default-submit-hack
{
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;
}

div.responsive .input-container ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.responsive a.step-button
{
 /*	display: inline-block; */
	text-decoration: none;
	zoom: 1;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 4px !important;
}

form input[type="text"], 
form input[type="number"],
form input[type="password"],
form textarea,
div.responsive input[type="text"], 
div.responsive input[type="number"],
div.responsive input[type="password"],
div.responsive textarea
    {
            border: inherit;
    /*	padding: 5px 7px; */
            border-radius: inherit;
            -moz-border-radius: inherit;
            -webkit-border-radius: inherit;
            -webkit-box-shadow: inherit;
            -moz-box-shadow: inherit;
            box-shadow: inherit;
            &:extend(.form-control all);
    }
form textarea,div.responsive textarea{
    height: 82px !important;
}
div.responsive .hidden
{
	display: none;
}
label.checkbox, label.radio{
    display: inline-block;
    font-weight: bold !important;
}
div.responsive button.action-button,
div.responsive a.next-step, 
div.responsive button.next-step,
div.responsive a.cancel-step, 
div.responsive button.cancel-step,
div.responsive a.step-button, 
div.responsive button.step-button,
div.responsive button.action-button:hover,
div.responsive a.next-step:hover, 
div.responsive button.next-step:hover,
div.responsive a.step-button:hover, 
div.responsive button.step-button:hover,
div.responsive a.cancel-button:hover, 
div.responsive button.cancel-button:hover,
#EditCons .Button,
input[type="button"], input[type="reset"], input[type="submit"]
{
        &:extend(.button-submit all);
}
div.responsive div.form-error{
    margin-bottom: 4px;
}
#cons_birth_date_date select {
  float: left;
}

#cons_birth_date_MONTH {
  width: 39%;
  margin-right: 1%;
}

#cons_birth_date_DAY {
  width: 29%;
  margin-right: 1%;
}

#cons_birth_date_YEAR {
  width: 30%;
}
div#registration_options_page span.survey-textarea-container textarea{
    max-width: none;
    width: 100%;
}
div#cons_info_component_container {
  div#personal_info_section_one, 
  div#personal_info_section_two
  {
    width: auto;
    float: none;
  }
}
/* ****************************** Login screen specific styles ****************************** */

#appAreaNoWidthClearFix {
    width: auto;
}

#login-div-content {
    &, div.actions, .outer-border , .banner-header, table{
        .noBg-noBorder-noPadding;
        height: auto;
    }
    .banner-header{
        &:extend(h3);
        strong{
            font-weight: normal;
        }
    }
    .login-form{
        margin-bottom: @margin-base-vertical;
        .input-border{
            border: none;
            padding: 0.5em;
        }
        input[type="text"]{
            margin-bottom: 10px;
        }
        .actions{
            padding: 0.5em;
            background: @white;
        }
    }
    input.uc-button, button, .ft button{
        .noBg-noBorder-noPadding;
        &:extend(.button all);
        &:extend(.button-submit all);
    }
    
    // 640px
    @media(max-width: @screen-md) {
        table, thead, tbody, th, td, tr { 
            display: block; 
	}
    }
}

/* ****************************** Donation2 form ****************************** */
div.donation-form-container{
    div.tributes-caption{
        .text-info;
        .bg-warning;
        .border-radius(5px);
        text-align: center;
        font-size: @font-size-h4;
        line-height: 3em;
        margin-bottom: 20px;
    }
}
div.form-progress-bar, div.progress-bar-container{
    background: @gray-lighter;
    margin-bottom: 20px;
    .box-shadow(1px 1px 3px rgba(0,0,0,.2));
    div.progress-bar-step-container{
        margin: 0;
        padding: 5px 10px;
        &.progress-bar-step-selectable{
            div.progress-bar-step-number-container{
                background: @brand-primary;
            }
        }
    }
    div.progress-bar-step-text-container{
        max-width: 150px;
        margin-top: 0;
        vertical-align: middle;
    }
}
div.form-info-message{
    .alert;
    .alert-info;
}
div.errorMessageContainer{
    .alert;
    .alert-danger;
    div.ErrorMessage.page-error{
        .noBg-noBorder-noPadding();
        margin: 0;
    }
}
div.donation-levels{
    .clearfix;
}
div.donation-level-container{
    border: none;
    margin: 0;
}
div.donation-level-input-container, div.generic-repeat-label-checkbox-container{
    padding: 0;
}
div.donation-level-user-entered{
    margin-top: 0;
    label{
        display: none;
    }
}
div.form-row{
    &.form-text,&.form-selectlist, &.custom-field-container{
        max-width: 600px;
    }
    &.form-text, &.form-row{
        .form-content{
            display: block;
        }
        textarea{height: 60px;}
    }
}
div.donation-level-general-ask, div.html-caption-container{max-width: none;}
div.transaction-summary-info{width: 100%;}
h5.summary-section-header{
    background-color: @gray;
}
div.transaction-summary-entry{
    background-color: @gray-lighter;
}
div.button-container{
    padding-top: 10px;
    button{
        margin-left: 5px;
        margin-right: 5px;
    }
    @media(max-width: @screen-xs) {
        text-align: center;
        button{
            float: none !important;
            display: block;
            margin: 0 auto;
        }
    }
}
#employer_street_row input, #billing_addr_street1_row input, #billing_addr_street2_row input, #billing_addr_street3_row input, #billing_addr_country_row input.ui-autocomplete-input, #donor_addr_street1_row input, #donor_addr_street2_row input, #donor_addr_street3_row input, #donor_addr_country_row input.ui-autocomplete-input, #shipping_addr_street1_row input, #shipping_addr_street2_row input, #shipping_addr_street3_row input, #shipping_addr_country_row input.ui-autocomplete-input, #tribute_notify_recip_street1_row input, #tribute_notify_recip_street2_row input, #tribute_notify_recip_street3_row input, #tribute_notify_recip_country_row input.ui-autocomplete-input, #tribute_signature_row input, #tribute_message_closing_row input, div.employer-address-container input#employer_street{width:100%;}
