.navbar-toggle{
    margin: 6px 0;
    padding: 4px 7px;
    color: @theme-primary-color;
}
.navbar-collapse {
        text-align: left;
    }
nav{
    img.logo{padding:15px;}
    .navbar-header{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .navbar-nav {
        vertical-align: top;
        >li>a{
            font-size: 20px;
            font-weight: 400;
            .text-uppercase;
            font-family: @font-family-oswald;
            .transition(all 0.3s ease);
        }
        .open .dropdown-menu{
            background-color: @dropdown-bg;
        }
        &.print-share{
            .text-center;
            li{
                display: inline-block;
            }
        }
    }
}
.dropdown{
    .dropdown-menu{
        border: none;
        border-radius: 0px;
        li{
            >a{
                .transition(all 0.2s ease-in-out);
                &:after{
                content: "\f105";
                font-family: 'FontAwesome';
                padding-left: 8px;
                padding-right: 2px;
                font-size: 1.3em;
                font-weight: 700;
                color: lighten(@dropdown-bg, 15%);
                }
                &:hover:after{
                    padding-left: 10px;
                    padding-right: 0;
                }
            }
        }
    }
}
.navbar-default .navbar-nav.secondary{
    >li{
        margin: 0 5px;
        >a{
            font-size: 16px;
            font-family: @font-family-signika;
            color: @brand-turquoise;
            padding: 0 7px;
            line-height: 75px;
        }
        &.active>a{
            color: @brand-red;
        }
        &.dropdown{
            .dropdown-menu{
                .h-align();
                position: absolute;
                background-color: darken(@header-secondary-nav-color, 8%);
                .border-radiuses(0, 10px, 10px , 0);
                overflow: hidden;
                //padding: 5px 0;
                >li>a{
                    padding: 3px 7px;
                    color: @brand-turquoise;
                    font-size: 14px;
                    &:hover, &:active{
                        background: @header-secondary-nav-color;
                    }
                    &:after{
                        .hide;
                    }
                }
                &.programs>li>a{
                    padding: 7px 5px;
                    span{.hide;}
                }
            }
        }
    }
}
.dropdown-submenu {
    position: relative;
    >.dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
    }
    &:hover>.dropdown-menu {
        display: block;
    }
    >a:after{
        content: "\f0da" !important;
        color: lighten(@dropdown-bg, 25%) !important;
        position: absolute;
        right: 10px;
        top: 0px;
    }
    &.pull-left {
        float:none;
        >.dropdown-menu {
            left:-100%;
            margin-left:10px;
            -webkit-border-radius:6px 0 6px 6px;
            -moz-border-radius:6px 0 6px 6px;
            border-radius:6px 0 6px 6px;
        }
    }
}

@media (min-width: @screen-md-min) {
    .navbar-default{
        border-width: 0px;
        .navbar-nav {
            display: inline-block;
            float: none;
            &:not(.secondary) > li:not(:last-child) > a:after{
                content: "";
                width: 1px;
                height: 70%;
                background-color: @gray;
                .v-align();
                position: absolute;
                right: 0;
                line-height: 40px;
              //border-right:1px solid #ddd;
             }
            > li:not(:first-child) {
                margin-left: -1px;
            }
            &.print-share{
                margin-right: @margin-small-horizontal;
                margin-left: -90%;
                a {
                    color: @gray;
                }
            }
            .dropdown{
                .dropdown-menu{
                    .box-shadow(0px 5px 4px rgba(0,0,0,.7));
                    position: absolute;
                    min-width: 100%;
                    border: none;
                    border-radius: 0px;
                    a{
                        font-family: @font-family-base;
                        font-size: 16px;
                    }
                }
                &.multi-column{
                    position: static;
                    .dropdown-menu{
                        min-width: 685px;
                        padding: 15px 0;
                        left: 50%;
                        .translate(-50%, 0);
                        color: @white;
                        display: none;
                        .dropdown-header{
                            padding: 3px 20px 3px 5px;
                            font-size: @font-size-base;
                            color: @black;
                            border-bottom: 1px solid @black;
                            line-height: @line-height-base*1.5;
                            margin-bottom: 5px;
                        }
                        ul{
                            border-left: 1px solid @white;
                            >li{
                                list-style: none;
                                white-space: nowrap;
                                a{
                                    display: block;
                                    padding: 3px 20px 3px 5px;
                                    clear: both;
                                    font-weight: normal;
                                    line-height: @line-height-base;
                                    color: @dropdown-link-color;
                                    white-space: nowrap;
                                    &:hover, &:focus {
                                        text-decoration: none;
                                        color: @dropdown-link-hover-color;
                                        background-color: @dropdown-link-hover-bg;
                                    }
                                 }
                                 &.text{
                                    a{
                                        display: inline-block;
                                        padding: 0px;
                                        text-decoration: underline;
                                    }
                                 }
                            }
                        }
                    }
                }
                &:hover {
                    >a:link, >a:hover, >a:visited{
                        color: @dropdown-link-color;
                        background-color: @dropdown-bg;
                        .box-shadow(0px 0px 3px rgba(0,0,0,.5));
                        text-shadow: 1px 1px 2px @gray-dark;
                    }
                    >a:after{
                        background-color: @dropdown-bg !important;
                    }
                    >.dropdown-menu{
                        display: block;
                    }
                    z-index: 1;
                    &:before {
                        display: none;
                        .h-align();
                        z-index: 2;
                        position: absolute;
                        bottom: -1px;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid @black-light;
                        border-left: 7px solid transparent;
                        border-bottom-color: @black-light;
                        content: '';
                    }
                }                
            }
            &.secondary .dropdown{
                &:hover{
                    >a{
                       background-color: transparent;
                       color: @brand-turquoise;
                       .box-shadow(none);
                    }
                    &:before{
                        display: inline-block;
                        border-bottom-color: darken(@header-secondary-nav-color, 8%);
                    }
                }
            }
        }
    }
    .navbar-collapse {
        text-align: center;
    }
}