.print{
    .full-print{
        width: 100%;
    }
    .accordion-wrapper{
        .accordion-content{
            display: block;
        }
    }
    .callout img{
        margin-top: 0;
    }
}