form.sign-up{
        .input-group .form-control{
            .border-radius(13px);
            border-width: 0px;
            z-index: 2;
        }
        .input-group-sm > .input-group-btn > .btn{
            .text-uppercase;
            color: inherit;
            font-weight: bold;
            border-width: 0px;
            z-index: 1;
            .box-shadow(none);
            &:hover{
                text-decoration: none;
                color: @black;
            }
        }
        &.compact{
            .input-group .form-control{
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border: 1px solid @gray;
                border-right-width: 0px;
                .box-shadow(-1px 1px 2px rgba(0,0,0,.2));
                z-index: 2;
                &:focus{border-color:@gray;}
            }
            .input-group-sm > .input-group-btn > .btn{
                background-color: @white;
                color: inherit;
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
                border-width: 1px;
                border-color: @gray;
                z-index: 1;
                .box-shadow(0px 1px 2px rgba(0,0,0,.2));
                span{.hide;}
            }
        }
}
.link-white{
    color: @white;
    &:link,
    &:visited{
        color: @white;
    }
    &:hover,
    &:focus {
        color: @white;
    }
}
.link-underline{
    text-decoration: underline;
    &:link,
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
header{
    border-top: 5px solid @brand-turquoise;
    a.logo{
        display: block;
        padding-top: 18px;
        max-width:375px; 
        img{
            width: 100%;
        }
    }
    .btn.top-donate{
        .btn-block;
        margin: @margin-small-vertical 0;
        padding-left: 0;
        padding-right: 0;
        &:hover{
            background-color: @brand-yellow;
        }
    }
    .top-signup{
        .pull-right;
        width: 100%;
        margin-bottom: @margin-small-vertical*3;
        label{
            color: @gray-dark;
            .text-uppercase;
            padding: 0 @padding-small-horizontal;
            font-size: @font-size-small;
            line-height: @input-height-small;
            margin-bottom: 0px;
        }
        form.sign-up{
        &:extend(form.sign-up.compact all);
        }
    }
    @media (min-width: @screen-md-min) {
        #top-nav{
            margin-top:-7px;
        }
        .btn.top-donate{
            display: inline;
            padding: 15px 60px
        }
        .top-signup{
            max-width: 250px;
            label{
                //.text-left;
            }
        }
    }
}

footer{
    background-color: @brand-turquoise;
    color: @white;
    .container{
        padding: @padding-base-vertical 0 0;
    }
    a {
        color: @turquoise-lighter;
        &:link, 
        &:focus,
        &:visited {
          color: @turquoise-lighter;
        }
        &:hover{
            color: @white;
            text-decoration: none;
        }
    }
    p{
        margin-bottom: 25px;
    }
    p.links-group{
        a, span.main{
            display: block;
            margin-bottom: 5px;
        }
        a.main{
            &:extend(.link-white all);
        }
        a.main, span.main{
            line-height: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
    .btn.donate{
        color: @brand-turquoise;
        .box-shadow(2px 2px 4px rgba(0,0,0,.8));
        padding: 15px 35px
    }
    div.sign-up{
        padding: @padding-large-vertical @padding-large-horizontal;
        background-color: @turquoise-light;
        margin-bottom: 25px;
        form.sign-up{
            &:extend(form.sign-up.compact all);
            .input-group-sm > .input-group-btn > .btn{
                color: @brand-turquoise;
                &:hover{
                    color: @brand-gray;
                }
            }
        }
    }
    .social-icons{
        .text-center;
        a {
            margin-right: 10px;
            &:link, 
            &:hover,
            &:focus,
            &:visited {
                color: @white;
                font-size: 0.8em;
                text-decoration: none;
            }
        }
        .fa-inverse{
            color: @brand-turquoise;
            &:hover,
            &:focus, {
                color: @brand-yellow;
            }
        }
    }
    .donate{
        .text-center;
    }
    .separator{
        border-top: 1px solid @turquoise-lighter;
    }
    .address{
        .small;
        margin-top: 20px;
        a{
            &:extend(.link-white all);
            &:hover{
                color: @turquoise-lighter;
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        .social-icons, p.donate{
            .text-left;
            padding: 0 @padding-base-horizontal;
        }
        div.sign-up, .social-icons, p.donate{
            width: 90%;
            max-width: 320px;
            margin-left: 10%;
        }
    }
    @media (min-width: @screen-md-min) {
        .container{
            padding: @padding-large-horizontal 0 @padding-large-horizontal*2;
        }
    }
}


.page-content{
    padding: 30px 0 ;
    a{&:extend(.link-underline all);}
    &.hp{
        padding: 40px 0;
    }
}

.social-share{
    .clearfix;
    left: 9px;
    position: absolute;
    z-index: 10;
    top: 94px;
    a{
        .pull-left;
        color: @gray;
        margin: 0 @margin-xs-horizontal;
        &:link,
        &:visited{
            color: @gray;
        }
        &:hover{color: @black;}
    }
    .hp & {
        top: 0;
        left: 15px;
        padding: 1%;
        background-color: rgba(255, 255, 255, 0.9);
        .border-radiuses(0px,5px,5px,0px);
        .box-shadow(1px 4px 3px rgba(0,0,0,.2));
    }
}

.water-mark, .water-mark-b{
    z-index: 1;
    &:after{
        content: "";
        .v-h-align();
        .opacity(0.07);
        position: absolute;
        width: 80%;
        max-width: 117px;
        height: 0px;
        padding-bottom: 100%;
        background: url(../images/logo_water_mark_b.png) no-repeat center center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        z-index: -1;
    }
}
.water-mark-w{
    &:extend(.water-mark all);
    &:after{
        .opacity(0.13);
        background-image: url(../images/logo_water_mark_w.png);
    }
}
.social-share-container{
    position: relative;
    &.hp{
    }
}
// homepage
.hp-feature{
    max-width: 425px;
    .center-block;
    margin-bottom: @padding-large-horizontal;
    h4{
        margin-top: 20px;
        line-height: 1.4;
    }
    a.btn{
        padding: 15px 35px;
    }
}
.hp-inform{
    @media (min-width: @screen-md-min) {
        padding: 0 25px;
    }
}
.outcome{
    .text-center;
    color: @white;
    background-color: #bcbdc1;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color: @gray;
    position: relative;
    padding: 10px 0;
    strong{
        font-size: 40px;
        
    }
    span{
        display: inline-block;
        line-height: 2em;
        margin: 0 10px;
    }
    &.theme1{border-color: @brand-red;}
    &.theme2{border-color: @brand-purple;}
    &.theme3{border-color: @brand-yellow;}
    @media (min-width: @screen-xs-min) {
        min-height:137px;
        border-width: 10px 0 0 0;
        padding: 20px 0;
        .water-mark-b;
        span{
            display: block;
        }
    }
}
.hp-sign-up{
    background-color: @gray-dark;
    color: @white;
    padding: @padding-large-vertical @padding-large-horizontal;
    margin-bottom: @margin-base-vertical;
    .center-block;
    height: 137px;
    label{
        margin-bottom: 15px;
    }
    form.sign-up .btn{
        font-size: @font-size-medium;
        padding-top: 0;
        padding-bottom: 0;
    }
}
// Interior Page
div.page-title{
    background: url('../images/heading_bg.gif');
    background-color: @brand-red;
    h1{
        margin: 0px;
        line-height: 88px;
        color: @white;
    }
}
.callout{
    img{
        //.center-block;
        .pull-right;
        margin-bottom: 30px;
    }
    h2{
        font-size: 2em;
    }
    p{
        font-size: 1.8em;
    }
}
.side-col{
    @media (min-width: @screen-md-min) {
        padding-left: 60px;
    }
}
.side-box{
    position: relative;
    min-height: 150px;
    background-color: @brand-orange;
    color: @white;
    padding: @padding-large-vertical @padding-large-horizontal;
    margin-bottom: 30px;
    &.fact{
        .water-mark-w;
        .text-center;
        font-size: 1.5em;
        strong{
            font-size: 1.8em;
            display: block;
            line-height: 1.7;
        }
    }
    h4,h5{
        color: inherit;
    }
    a{
        &:extend(.link-white all);
        &:extend(.link-underline all);
        &:hover{
            color:@black;
        }
    }
}