.modal-open {
  overflow: auto; 
}
form.sign-up{
        .input-group .form-control{
            .border-radius(13px);
            border-width: 0px;
            z-index: 2;
        }
        .input-group-sm > .input-group-btn > .btn{
            .text-uppercase;
            color: inherit;
            font-weight: bold;
            border-width: 0px;
            z-index: 1;
            .box-shadow(none);
            outline: none;
            &:hover{
                text-decoration: none;
                color: @black;
            }
        }
        &.compact{
            .input-group .form-control{
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border: 1px solid @gray;
                border-right-width: 0px;
                .box-shadow(-1px 1px 2px rgba(0,0,0,.2));
                z-index: 2;
                &:focus{border-color:@gray;}
            }
            .input-group-sm > .input-group-btn > .btn{
                background-color: @white;
                color: inherit;
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
                border-width: 1px;
                border-color: @gray;
                z-index: 1;
                .box-shadow(0px 1px 2px rgba(0,0,0,.2));
                span{.hide;}
            }
        }
}
.label-pwna {
  .label-variant(@brand-turquoise);
}
.link-white{
    color: @white;
    &:link,
    &:visited{
        color: @white;
    }
    &:hover,
    &:focus {
        color: @white;
    }
}
.link-underline{
    text-decoration: underline;
    &:link,
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
.bootstrap-dialog {
    &.type-info {
        .modal-header {
            background-color: #8a8b8d;
        }
    }
    &.type-success {
        .modal-header {
            background-color: #ffcd0a;
        }
    }
}
.dropdown-menu-reset{
    .show;
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
    a{
        padding: 0;
        margin: 0;
        white-space: normal;
        &:link, &:hover, &:visited, &:active{
            background: transparent;
        }
        &:hover, &:active{
            color: inherit;
        }
    }
}
.pg-container {
    position: relative;
    overflow: hidden;
}
a.anchor{
    padding-top: @header-fixed-nav-height + @header-fixed-nav-border-bottom-size;
}
header{
    border-top: 5px solid @brand-turquoise;
    background-color: #fff;
    .transition(top 0.5s ease-in-out);
    .navbar{
        padding: 0 15px;
    }
    .cell1{width: 40%;}
    .cell2{width: 60%;}
    a.logo{
        display: block;
        padding: 5px 0;
        max-width:375px;
        @media (min-width: @screen-md) {
            padding: 15px 0 0;
        }
        img{
            width: 100%;
        }
    }
    .nav-donate{
        .v-align();
        position: absolute;
        right: 0;
        min-width: 160px;
    }
    .btn.top-donate{
        .pull-right;
        margin: 6px 10px;
        font-size: 15px;
        padding: 8px 0;
        width: 100%;
        max-width: 100px;
        display: inline-block;
        @media (min-width: @screen-sm-min) {
            font-size: 20px;
            padding: 6px 0;
        }
        @media (min-width: @screen-md-min) {
            font-size: 25px;
            padding: 4px 0;
            max-width: 160px;
            margin-top: -10px;
        }
    }
    .top-signup{
        width: 100%;
        margin: 0 auto;
        margin-bottom: @margin-small-vertical*3;
        label{
            color: @gray-dark;
            .text-uppercase;
            padding: 0 @padding-small-horizontal;
            font-size: @font-size-small;
            line-height: @input-height-small;
            margin-bottom: 0px;
        }
        form.sign-up{
        &:extend(form.sign-up.compact all);
        }
    }
    .nav-and-social{
        display: table;
        width: 100%;
    }
    .social-container, .second-nav-container{
        display: table-cell;
        vertical-align: top;
    }
    .second-nav-container{
        width: 70%;
    }
    .social-container{
        position: relative;
        overflow: hidden;
        width: 23%;
    }
    .nav.secondary{
        padding: 35px 0 20px;
    }
    .nav.secondary{
        position: relative;
        z-index: 6;
        background-color: @header-secondary-nav-color;
        .border-radiuses (0, 10px, 10px, 0);
    }
    .site-search{
        position: relative;
        display: inline-block;
        font-size: @font-size-medium;
        background-color: @header-secondary-nav-color;
        .border-radiuses (10px, 10px, 0, 0);
        width: @header-search-toggle-width;
        height: @header-search-toggle-height;
        line-height: @header-search-toggle-height;
        margin-top: 32px;
        a.ico{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            background-color: @header-secondary-nav-color;
            .border-radiuses (10px, 10px, 0, 0);
            .transition(all 0.5s ease-in-out);
            i:before{
                content: "\f002";
            }
        }
        i.fa{
            font-size: 20px;
            line-height: @header-search-toggle-height;
            color: @gray;
        }
        form{
            width: @header-search-form-width;
            position: absolute;
            top: 0;
            left: -300px;
            z-index: 5;
            .transition(left 0.5s ease-in-out);
            .input-group{
                background-color: @header-secondary-nav-color;
                .border-radiuses (10px, 10px, 0, 0);
                input{
                    height: 36px;
                    line-height: 36px;
                    padding-top:0;
                    padding-bottom:0;
                    margin-top: 3px;
                }
            }
            .input-group-btn{
                width: @header-search-toggle-width;
            }
            button{
                box-shadow: none;
                background-color: @header-secondary-nav-color;
                padding: 0;
                border: none;
                width: 100%;
                margin-left: 0 !important;
                .border-radiuses (10px, 10px, 0, 0);
            }
        }
        &.expand{
            a.ico{.border-radius (0);}
            a.ico i:before{content: "\f00d";}
        }
        
    }
    .signup-form{
        .opacity(0);
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: @header-search-toggle-height;
        line-height: 36px;
        background-color: @header-secondary-nav-color;
        font-size: @font-size-medium;
        .border-radiuses (0, 10px, 10px, 10px);
        .transition(top 0.3s ease-in-out);
        .toggle{
            position: absolute;
            width: 30px;
            height: 30px;
            line-height: 32px;
            top: -30px;
            right: 0;
            color: @gray;
            background-color: @header-secondary-nav-color;
            .border-radiuses (10px, 0, 0, 10px);
        }
        form{
            padding: 5px;
            input{
                height: 36px;
                line-height: 36px;
            }
            button{
                padding: 5px !important;
                span{.hide;}
            }
        }
        &.expand{
            .opacity(1);
            top: 32px;
            z-index: 5;
        }
    }
    .social-pages{
        .pull-right;
        height: @header-search-toggle-height;
        line-height: @header-search-toggle-height;
        margin-top: 32px;
        overflow: hidden;
        position: relative;
        z-index: 4;
        background-color: @white;
        a{
            .pull-left;
            color: @brand-turquoise;
            width: @header-search-toggle-width;
            text-align: center;
            .transition(color 0.2s ease-in-out);
            font-size: 24px;
            &:hover{
                color: lighten(@brand-turquoise, 15%);;
            }
        }
    }
    &.fixed{
        padding-bottom: 0;
        position: fixed;
        left: 0;
        top: 0-@header-fixed-nav-height;
        width: 100%;
        z-index: 9999;
        border-top: none;
        border-bottom: @header-fixed-nav-border-bottom-size solid @brand-turquoise;
        &.animate{
            top: 0;
        }
        .fixed-hide{.hide;}
        .cell1{max-width: 185px;}
        .cell2{width: auto;}
        a.logo{
            padding: 2px 0;
            max-width: 185px;
        }
        .btn.top-donate{
            //font-size:15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        #top-nav{
            margin-top:0;
            position: relative;
        }
        .nav-donate{
            .pull-right;
            position: relative;
            width: auto;
            top: auto;
            transform: none;
            -webkit-transform: none;
            -ms-transform: none;
        }
        nav .navbar-nav > li > a{
            font-size: 18px;
        }
    }
    @media (min-width: @screen-sm-min) {
        .cell1{width: 40%;}
        .cell2{
            width: 60%;
            position: relative;
        }
        .nav-donate{width: 100%;}
    }
    @media (min-width: @screen-md-min) {
        padding-bottom: @line-height-computed + @navbar-padding-vertical * 2;
        .cell1{width: 30%;}
        .cell2{width: 70%;position: static;font-size: 0px;}
        #top-nav{
            position: absolute;
            width: 100%;
            top:100%;
            left: 0;
        }
        .top-signup{
            max-width: 250px;
            label{
                //.text-left;
            }
        }
    }
    
}

footer{
    .clearfix;
    background-color: @brand-turquoise;
    color: @white;
    .container{
        padding: @padding-base-vertical 0 0;
    }
    a {
        color: @turquoise-lighter;
        &:link, 
        &:focus,
        &:visited {
          color: @turquoise-lighter;
        }
        &:hover{
            color: @white;
            text-decoration: none;
        }
    }
    p, ul.links-group{
        margin-bottom: 25px;
    }
    ul.links-group, p.links-group{
        list-style: none;
        padding: 0;
        ul{
            .dropdown-menu-reset;
            list-style: none;
            padding: 0;
            &.programs img{.hide;}
            a{
                margin-bottom: 5px;
                line-height: 1em;
            }
        }
        a, span.main{
            font-size: @font-size-small !important;
            display: block;
            margin-bottom: 5px;
            .profile &{
                display: inline;
            }
        }
        >li>a, a.main{
            &:extend(.link-white all);
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
    a.nrc{
        .small;
        .link-white;
        //.link-underline;
        .clearfix;
        display: inline-block;
        margin-top: 8px;
    }
    .btn.donate{
        color: @brand-turquoise;
        .box-shadow(2px 2px 4px rgba(0,0,0,.8));
        font-size: 25px;
        padding: 10px 35px
    }
    div.sign-up{
        padding: 15px 30px 20px;
        background-color: @turquoise-light;
        margin-bottom: 25px;
        label{
            font-size: @font-size-small;
            margin-bottom: 12px;
            padding-left: 10px;
        }
        form.sign-up{
            &:extend(form.sign-up.compact all);
            .input-group-sm > .input-group-btn > .btn{
                color: @brand-turquoise;
                &:hover{
                    color: @brand-gray;
                }
            }
        }
    }
    .social-icons{
        .text-center;
        a {
            margin-right: 10px;
            &:link, 
            &:hover,
            &:focus,
            &:visited {
                color: @white;
                font-size: 1.5em;
                text-decoration: none;
            }
        }
        .fa-inverse{
            color: @brand-turquoise;
            &:hover,
            &:focus, {
                color: @brand-yellow;
            }
        }
    }
    .donate{
        .text-center;
    }
    .separator{
        border-top: 1px solid @turquoise-lighter;
    }
    img.logo{
        max-width: 311px;
    }
    .address{
        font-size: 80%;
        font-weight: 700;
        margin-top: 20px;
        line-height: 18px;
        a{
            &:extend(.link-white all);
            font-size: 85%;
            font-weight: inherit;
            &:hover{
                color: @turquoise-lighter;
                font-size: 85%;
                font-weight: inherit;
            }
        }
    }
    .badges {
        .img{
            position: relative;
            .pull-right;
            margin: 15px 0;
            img{width: 100%;}
        }
        .rollover{
            background: url('../images/footer_badges_on.png') no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            &.dummy{
                cursor: default;
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        .social-icons, p.donate{
            .text-left;
            padding: 0 @padding-base-horizontal;
        }
        
    }
    @media (min-width: @screen-md-min) {
        .container{
            padding: @padding-large-horizontal 0 @padding-large-horizontal*2;
        }
    }
}


.page-content{
    padding: 0 0 30px;
    //margin-top: -80px;
    a{
        &:extend(.link-underline all);
        font-size: inherit;
    }
    &.hp{
        margin-top: 0;
        padding: 40px 0;
    }
    .login-prompt{
        .center-block;
        width: 80%;
        padding: 50px 0;
        #li_comp_usr{
            margin: 0 auto;
            width: 100%;
            max-width: 400px;
            border: none;
        }
        #li_comp_usr_rmbrTd{.hide;}
    }
}

.social-share{
    //.clearfix;
    z-index: 10;
    a{
        .pull-left;
        display: block;
        color: @gray;
        margin: 25px @margin-xs-horizontal;
        &:link,
        &:visited{
            color: @gray;
        }
        &:hover{color: @black;}
    }
    .hp & {
        position: absolute;
        margin: 0;
        top: 0;
        left: 15px;
        line-height: 15px;
        padding: 1%;
        .rgba(@white, 0.9);
        .border-radiuses(0px,5px,5px,0px);
        .box-shadow(1px 4px 3px rgba(0,0,0,.2));
        a{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .atclear{
        clear: inherit;
    }
}

.water-mark, .water-mark-b{
    z-index: 1;
    &:after{
        content: "";
        .v-h-align();
        .opacity(0.07);
        position: absolute;
        width: 80%;
        max-width: 117px;
        height: 0px;
        padding-bottom: 70%;
        background: url(../images/logo_water_mark_b.png) no-repeat center center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        z-index: -1;
    }
}
.water-mark-w{
    &:extend(.water-mark all);
    &:after{
        .opacity(0.13);
        background-image: url(../images/logo_water_mark_w.png);
    }
}
.social-share-container{
    position: relative;
    z-index: 2;
    &.hp{
    }
}
.img-txt-listing{
    .make-row();
    .img{
        .pull-left;
        max-width: 150px;
        min-width: 100px;
        padding-bottom: 9px;
        .ratio{
            position: relative;
            overflow: hidden;
            height: 0;
            padding-bottom: 100%;
            .transition(all 0.1s ease-in-out);
            img{
                .v-align();
                position: absolute;
                left:0;
            }
        }
        @media (min-width: @screen-md-min) {
            padding-right: 0;
            min-width: auto;
        }
    }
}
.banner{
    position: relative;
    margin-bottom: 15px;
    .caption{
        background-color: @brand-turquoise;
        color: @white;
        padding: 15px;
        @media (min-width: @screen-sm-min) {
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            .rgba(@brand-turquoise, 0.9);
        }
        @media (min-width: @screen-md-min) {
            width: 30%;
        }
        a{
            .button-variant(@brand-yellow, transparent, transparent);
        }
        h2, h2 small{
            color: inherit;
        }
    }
}
.panel-pwna-default {
  .panel-variant(@gray; @white; @brand-orange; @gray);
}
.panel-heading {
    .clearfix;
}
a.story-list-item{
    text-decoration: none !important;
    padding-bottom: 0;
    .transition(all 0.3s ease-in-out);
    .caption{
        p{
            .clearfix;
        }
        .more{
            .pull-right;
            font-weight: 700;
            text-decoration: underline;
            &:after{
                content: '\f101';
                font-family: 'FontAwesome';
                font-weight: normal;
                text-decoration: none;
                float: right;
                padding-left: 5px;
                padding-right: 5px;
                .transition(all 0.3s ease-in-out);
            }
        }
    }
    &:hover{
        .img .ratio{
            .scale(1.05);
        }
        .caption .more:after{
            padding-left: 10px;
            padding-right: 0px;
        }
    }
    &.large{
        padding: 10px;
        margin: 15px 0;
        overflow: hidden;
        background-color: darken(@large-story-list-item-bg, 5%);
        .img{
            background-color: @large-story-list-item-bg;
            overflow: hidden;
            display: table-cell;
            width: 25%;
            min-width: 100px;
            vertical-align: middle;
            .transition(all 0.3s ease-in-out);
            .ratio{
                .transition(all 0.3s ease-in-out);
                position: relative;
                height: 0;
                padding-bottom: 85%;
            }
            img{
                .v-h-align();
                position: absolute;
                width: 100%;
                min-width: 100%;
            }
        }
        .caption{
            padding: 15px;
            background-color: @large-story-list-item-bg;
            display: table-cell;
            vertical-align: top;
            position: relative;
            .transition(all 0.3s ease-in-out);
            &:before{
                .hide;
                content: "";
                position: absolute;
                top: -18px;
                left: 50%;
                .translate(-50%, 0);
                .transition(all 0.3s ease-in-out);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 18px 26px 18px;
                border-color: transparent transparent @large-story-list-item-bg transparent;
            }
        }
        &:hover{
            .img, .caption{
                background-color: darken(@large-story-list-item-bg, 5%);
            }
            .img .ratio{
                .scale(1.2);
            }
            .caption{
                &:before{
                    top: -23px;
                    border-bottom-color: darken(@large-story-list-item-bg, 5%);
                }
            }
        }
        @media (min-width: @screen-sm-min) {
            padding: 0;
            .img, .caption{
                display: block;
                width: 100%;
            }
            .caption:before{
                .show;
            }
        }
    }
}
// homepage
.announcement{
    position: relative;
    z-index: 2;
    color: @white;
    .container-fluid{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //height: 100px;
        background-color: @brand-orange;
        z-index: 10;
        .expand&{border-bottom: 7px solid #333333;}
    }
    a{
        &:extend(.link-white all);
    }
    .box{
        .clearfix;
        width: 100%;
        max-width: 675px;
        .center-block;
        .expand&{padding: 23px 0;}
        h4{
            color: inherit;
        }
        img{
            .pull-left;
            margin-right: 35px;
            margin-bottom: 25px;
        }
    }
}
.hp-feature{
    max-width: 425px;
    .center-block;
    margin-bottom: @padding-large-horizontal;
    h4{
        margin-top: 20px;
        line-height: 1.4;
        font-size: 22px;
    }
    p{
        font-size: @font-size-large;
    }
    a.btn{
        padding: 15px 22px;
    }
}
.hp-inform{
    @media (min-width: @screen-md-min) {
        padding: 0 25px;
    }
    h4{
        font-size: 22px;
    }
    a.btn{
        margin-top: 10px;
        //.pull-right;
    }
}
.outcome{
    .text-center;
    color: @white;
    background-color: #bcbdc1;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color: @gray;
    position: relative;
    padding: 10px 0;
    line-height: 1em;
    .user-select(none);
    strong{
        font-size: 20px;
        
    }
    span{
        display: inline-block;
        white-space: nowrap;
        
    }
    &.theme1{border-color: @brand-red;}
    &.theme2{border-color: @brand-purple;}
    &.theme3{border-color: @brand-yellow;}
    &.theme4{border-color: @brand-orange;}
    @media (min-width: @screen-xs-min) {
        min-height:137px;
        border-width: 10px 0 0 0;
        //padding: 20px 0;
        .water-mark-b;
        span{
            display: block;
            margin: 0 10px;
        }
        strong{
            display: block;
            font-size: 40px;
            margin: 30px 0;
        }
    }
}
.hp-sign-up{
    background-color: @gray-dark;
    color: @white;
    padding: @padding-large-vertical @padding-large-horizontal;
    margin-bottom: @margin-base-vertical;
    .center-block;
    height: 137px;
    label{
        margin-bottom: 15px;
    }
    form.sign-up .btn{
        font-size: @font-size-medium;
        padding-top: 0;
        padding-bottom: 0;
    }
}
// Interior Page
div.page-title{
    background: url('../images/heading_bg.gif');
    background-color: @brand-red;
    min-height: 10px;
    h1{
        font-family: @font-family-oswald;
        font-weight: 300;
        padding: 10px 15px;
        margin: 21px -15px;
        line-height: 26px;
        color: @white;
        background-color: @brand-red;
        display: inline-block;
        .user-select(none);
    }
}
.callout{
    clear: both;
    //.clearfix;
    img{
        //.center-block;
        .pull-right;
        margin-bottom: 30px;
        margin-top: -40px;
    }
    h2{
        font-size: 1.8em;
        margin-top: 0;
        small, .small{color: inherit;}
    }
    p{
        font-size: 1.4em;
    }
}
.side-col{
    @media (min-width: @screen-md-min) {
        //padding-left: 60px;
    }
}
ul.side-nav{
    background-color: @brand-orange;
    color: @white;
    padding: @padding-large-vertical @padding-large-horizontal;
    margin-bottom: 30px;
    list-style: none;
    a{
        &, &:link, &:hover, &:visited{
            color: @white;
            text-decoration: none;
        }
        
    }
    >li>a{
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 10px;
    }
    ul{
        .dropdown-menu-reset;
        list-style: none;
        padding: 0;
        a{
            margin-bottom: 5px;
            font-size: 1.2em;
            &:hover{
                color:@black;
            }
        }
        li.current a{color:@black;}
    }
}
.side-box{
    position: relative;
    background-color: @brand-orange;
    color: @white;
    padding: @padding-large-vertical @padding-large-horizontal;
    margin-bottom: 30px;
    &.fact{
        background: url('../images/fact_bg.gif');
        min-height: 150px;
        .water-mark-w;
        .text-center;
        font-size: 1.5em;
        overflow: hidden;
        strong{
            font-size: 1.8em;
            display: block;
            line-height: 1.7;
        }
        &:before{
            content: "";
            .v-h-align();
            position: absolute;
            width: 95%;
            height: 90%;
            .rgba(@brand-orange, 0.9);
            z-index: -1;
        }
    }
    h4,h5{
        color: inherit;
    }
    a{
        &:extend(.link-white all);
        &:extend(.link-underline all);
        &:hover{
            color:@black;
        }
    }
}
.payment-type-element-container{
    margin-top: 15px;
    .payment-field-container{
        border: 2px solid @brand-gray;
        padding: 0 15px 10px;
        margin-top: -2px;
        span.internal-payment, span.external-payment{
            margin-right: 0;
            margin-left: -1px;
            .border-radius(0px);
            border: none;
            .pull-left;
            span.payment-type-option{
                border: 2px solid @brand-gray !important;
                .border-radius(0px);
                height: 47px;
            }
        }
        span.internal-payment span.payment-type-option.selected{
            border-bottom-color: @white !important;
        }
    }
    .payment-type-selection-container{
        .clearfix;
        border: none;
        padding: 0;
        margin: 0;
        h3{
            .pull-left;
            margin: 0;
            padding-right: 10px;
            line-height: 47px;
            text-transform: none;
        }
        .form-content, .form-row{
            margin: 0;
        }
        
    }
}
.services{
    h4{margin-top:0;}
    .row{margin-bottom: 15px;}
}
blockquote{
    footer{
        background-color: @white;
        cite    { display: block;}
        &:before{display:inline;}
    }
}
.accordion-wrapper{
    display: block;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    .accordion-title{
        display: block;
        position: relative;
        padding-left:34px;
        border:1px solid @black;
        font-size: 1.3em;
        span{
            display:block;
            padding: 8px 15px;
            border-left: 1px solid @black;
        }
        &:link, &:hover, &:visited{
            text-decoration: none;
        }
        
        &:before{
            left: 0;
            width: 34px;
            text-align: center;
            .v-align();
            position: absolute;
            font-family: "FontAwesome";
            content: "\f067";
        }
        &.active{
            color: @white;
            background-color: @brand-orange;
            &:before{
                content:"\f068";
            }
        }
    }
    .accordion-content{
        display: none;
        padding: 5px 32px;
        border: 1px solid @black;
        border-top: none;
        p{margin: 15px 0;}
    }
}
