h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Signika';
  font-weight: 600;
  line-height: 1.1;
  color: #000000;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #002855;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 25px;
}
h2,
.h2 {
  font-size: 23px;
}
h3,
.h3 {
  font-size: 21px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #a9a9a9;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #f9f9f9;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 992px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #a9a9a9;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 16.1px;
  border-left: 5px solid #bbbdbf;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #a9a9a9;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #bbbdbf;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px;
}
.row-xs-height {
  display: table;
  width: 100%;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}
@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .row-md-height {
    display: table;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.margin-none {
  margin: 0;
}
.margin-tight {
  margin: 5px 5px;
}
.margin-base-vertical {
  margin-bottom: 20px;
}
.margin-medium-vertical {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .margin-medium-vertical {
    margin-bottom: 30px;
  }
}
.margin-large-vertical {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .margin-large-vertical {
    margin-bottom: 80px;
  }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.img-txt-listing:before,
.img-txt-listing:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.img-txt-listing:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.align-vertical {
  position: relative;
  top: 50%;
  /*  top: 0%\9;*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.pull-right-sm {
  float: none;
}
@media (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }
}
.pull-right-md {
  float: none;
}
@media (min-width: 992px) {
  .pull-right-md {
    float: right;
  }
}
.pull-right-lg {
  float: none;
}
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right;
  }
}
.pull-left-sm {
  float: none;
}
@media (min-width: 768px) {
  .pull-left-sm {
    float: left;
  }
}
.pull-left-md {
  float: none;
}
@media (min-width: 992px) {
  .pull-left-md {
    float: left;
  }
}
.pull-left-lg {
  float: none;
}
@media (min-width: 1200px) {
  .pull-left-lg {
    float: left;
  }
}
.btn-full-xs {
  width: 100%;
}
@media (min-width: 768px) {
  .btn-full-xs {
    width: auto;
  }
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
.nowrap {
  white-space: nowrap;
}
.no-decoration,
.no-decoration:hover,
.no-decoration:focus {
  text-decoration: none;
}
.modal-open {
  overflow: auto;
}
form.sign-up .input-group .form-control {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 0px;
  z-index: 2;
}
form.sign-up .input-group-sm > .input-group-btn > .btn {
  text-transform: uppercase;
  color: inherit;
  font-weight: bold;
  border-width: 0px;
  z-index: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
form.sign-up .input-group-sm > .input-group-btn > .btn:hover {
  text-decoration: none;
  color: #000000;
}
form.sign-up.compact .input-group .form-control,
header .top-signup form.sign-up .input-group .form-control,
footer div.sign-up form.sign-up .input-group .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #a9a9a9;
  border-right-width: 0px;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
form.sign-up.compact .input-group .form-control:focus,
header .top-signup form.sign-up .input-group .form-control:focus,
footer div.sign-up form.sign-up .input-group .form-control:focus {
  border-color: #a9a9a9;
}
form.sign-up.compact .input-group-sm > .input-group-btn > .btn,
header .top-signup form.sign-up .input-group-sm > .input-group-btn > .btn,
footer div.sign-up form.sign-up .input-group-sm > .input-group-btn > .btn {
  background-color: #ffffff;
  color: inherit;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-width: 1px;
  border-color: #a9a9a9;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
form.sign-up.compact .input-group-sm > .input-group-btn > .btn span,
header .top-signup form.sign-up .input-group-sm > .input-group-btn > .btn span,
footer div.sign-up form.sign-up .input-group-sm > .input-group-btn > .btn span {
  display: none !important;
}
.label-pwna {
  background-color: #186273;
}
.label-pwna[href]:hover,
.label-pwna[href]:focus {
  background-color: #0f3e49;
}
.link-white,
footer ul.links-group > li > a,
footer p.links-group > li > a,
footer ul.links-group a.main,
footer p.links-group a.main,
footer .address a,
.announcement a,
.side-box a {
  color: #ffffff;
}
.link-white:link,
.link-white:visited,
footer ul.links-group > li > a:link,
footer ul.links-group > li > a:visited,
footer p.links-group > li > a:link,
footer p.links-group > li > a:visited,
footer ul.links-group a.main:link,
footer ul.links-group a.main:visited,
footer p.links-group a.main:link,
footer p.links-group a.main:visited,
footer .address a:link,
footer .address a:visited,
.announcement a:link,
.announcement a:visited,
.side-box a:link,
.side-box a:visited {
  color: #ffffff;
}
.link-white:hover,
.link-white:focus,
footer ul.links-group > li > a:hover,
footer ul.links-group > li > a:focus,
footer p.links-group > li > a:hover,
footer p.links-group > li > a:focus,
footer ul.links-group a.main:hover,
footer ul.links-group a.main:focus,
footer p.links-group a.main:hover,
footer p.links-group a.main:focus,
footer .address a:hover,
footer .address a:focus,
.announcement a:hover,
.announcement a:focus,
.side-box a:hover,
.side-box a:focus {
  color: #ffffff;
}
.link-underline,
.page-content a,
.side-box a {
  text-decoration: underline;
}
.link-underline:link,
.link-underline:hover,
.link-underline:focus,
.page-content a:link,
.page-content a:hover,
.page-content a:focus,
.side-box a:link,
.side-box a:hover,
.side-box a:focus {
  text-decoration: underline;
}
.bootstrap-dialog.type-info .modal-header {
  background-color: #8a8b8d;
}
.bootstrap-dialog.type-success .modal-header {
  background-color: #ffcd0a;
}
.dropdown-menu-reset {
  display: block !important;
  position: relative;
  float: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu-reset a {
  padding: 0;
  margin: 0;
  white-space: normal;
}
.dropdown-menu-reset a:link,
.dropdown-menu-reset a:hover,
.dropdown-menu-reset a:visited,
.dropdown-menu-reset a:active {
  background: transparent;
}
.dropdown-menu-reset a:hover,
.dropdown-menu-reset a:active {
  color: inherit;
}
.pg-container {
  position: relative;
  overflow: hidden;
}
a.anchor {
  padding-top: 57px;
}
header {
  border-top: 5px solid #186273;
  background-color: #fff;
  -webkit-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
header .navbar {
  padding: 0 15px;
}
header .cell1 {
  width: 40%;
}
header .cell2 {
  width: 60%;
}
header a.logo {
  display: block;
  padding: 5px 0;
  max-width: 375px;
}
@media (min-width: 992px) {
  header a.logo {
    padding: 15px 0 0;
  }
}
header a.logo img {
  width: 100%;
}
header .nav-donate {
  position: relative;
  top: 50%;
  /*  top: 0%\9;*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  right: 0;
  min-width: 160px;
}
header .btn.top-donate {
  float: right !important;
  margin: 6px 10px;
  font-size: 15px;
  padding: 8px 0;
  width: 100%;
  max-width: 100px;
  display: inline-block;
}
@media (min-width: 768px) {
  header .btn.top-donate {
    font-size: 20px;
    padding: 6px 0;
  }
}
@media (min-width: 992px) {
  header .btn.top-donate {
    font-size: 25px;
    padding: 4px 0;
    max-width: 160px;
    margin-top: -10px;
  }
}
header .top-signup {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}
header .top-signup label {
  color: #8c8c8e;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 0px;
}
header .nav-and-social {
  display: table;
  width: 100%;
}
header .social-container,
header .second-nav-container {
  display: table-cell;
  vertical-align: top;
}
header .second-nav-container {
  width: 70%;
}
header .social-container {
  position: relative;
  overflow: hidden;
  width: 23%;
}
header .nav.secondary {
  padding: 35px 0 20px;
}
header .nav.secondary {
  position: relative;
  z-index: 6;
  background-color: #ebeff2;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header .site-search {
  position: relative;
  display: inline-block;
  font-size: 16px;
  background-color: #ebeff2;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 40px;
  height: 42px;
  line-height: 42px;
  margin-top: 32px;
}
header .site-search a.ico {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #ebeff2;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .site-search a.ico i:before {
  content: "\f002";
}
header .site-search i.fa {
  font-size: 20px;
  line-height: 42px;
  color: #a9a9a9;
}
header .site-search form {
  width: 187px;
  position: absolute;
  top: 0;
  left: -300px;
  z-index: 5;
  -webkit-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
header .site-search form .input-group {
  background-color: #ebeff2;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header .site-search form .input-group input {
  height: 36px;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 3px;
}
header .site-search form .input-group-btn {
  width: 40px;
}
header .site-search form button {
  box-shadow: none;
  background-color: #ebeff2;
  padding: 0;
  border: none;
  width: 100%;
  margin-left: 0 !important;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header .site-search.expand a.ico {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header .site-search.expand a.ico i:before {
  content: "\f00d";
}
header .signup-form {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 42px;
  line-height: 36px;
  background-color: #ebeff2;
  font-size: 16px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: top 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}
header .signup-form .toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 32px;
  top: -30px;
  right: 0;
  color: #a9a9a9;
  background-color: #ebeff2;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header .signup-form form {
  padding: 5px;
}
header .signup-form form input {
  height: 36px;
  line-height: 36px;
}
header .signup-form form button {
  padding: 5px !important;
}
header .signup-form form button span {
  display: none !important;
}
header .signup-form.expand {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 32px;
  z-index: 5;
}
header .social-pages {
  float: right !important;
  height: 42px;
  line-height: 42px;
  margin-top: 32px;
  overflow: hidden;
  position: relative;
  z-index: 4;
  background-color: #ffffff;
}
header .social-pages a {
  float: left !important;
  color: #186273;
  width: 40px;
  text-align: center;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-size: 24px;
}
header .social-pages a:hover {
  color: #2598b2;
}
header.fixed {
  padding-bottom: 0;
  position: fixed;
  left: 0;
  top: -52px;
  width: 100%;
  z-index: 9999;
  border-top: none;
  border-bottom: 5px solid #186273;
}
header.fixed.animate {
  top: 0;
}
header.fixed .fixed-hide {
  display: none !important;
}
header.fixed .cell1 {
  max-width: 185px;
}
header.fixed .cell2 {
  width: auto;
}
header.fixed a.logo {
  padding: 2px 0;
  max-width: 185px;
}
header.fixed .btn.top-donate {
  margin-top: 5px;
  margin-bottom: 5px;
}
header.fixed #top-nav {
  margin-top: 0;
  position: relative;
}
header.fixed .nav-donate {
  float: right !important;
  position: relative;
  width: auto;
  top: auto;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
}
header.fixed nav .navbar-nav > li > a {
  font-size: 18px;
}
@media (min-width: 768px) {
  header .cell1 {
    width: 40%;
  }
  header .cell2 {
    width: 60%;
    position: relative;
  }
  header .nav-donate {
    width: 100%;
  }
}
@media (min-width: 992px) {
  header {
    padding-bottom: 52px;
  }
  header .cell1 {
    width: 30%;
  }
  header .cell2 {
    width: 70%;
    position: static;
    font-size: 0px;
  }
  header #top-nav {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
  }
  header .top-signup {
    max-width: 250px;
  }
}
footer {
  background-color: #186273;
  color: #ffffff;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
footer:before,
footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
footer .container {
  padding: 10px 0 0;
}
footer a {
  color: #99afbd;
}
footer a:link,
footer a:focus,
footer a:visited {
  color: #99afbd;
}
footer a:hover {
  color: #ffffff;
  text-decoration: none;
}
footer p,
footer ul.links-group {
  margin-bottom: 25px;
}
footer ul.links-group,
footer p.links-group {
  list-style: none;
  padding: 0;
}
footer ul.links-group ul,
footer p.links-group ul {
  display: block !important;
  position: relative;
  float: none;
  background: transparent;
  box-shadow: none;
  margin: 0;
  list-style: none;
  padding: 0;
}
footer ul.links-group ul a,
footer p.links-group ul a {
  padding: 0;
  margin: 0;
  white-space: normal;
}
footer ul.links-group ul a:link,
footer p.links-group ul a:link,
footer ul.links-group ul a:hover,
footer p.links-group ul a:hover,
footer ul.links-group ul a:visited,
footer p.links-group ul a:visited,
footer ul.links-group ul a:active,
footer p.links-group ul a:active {
  background: transparent;
}
footer ul.links-group ul a:hover,
footer p.links-group ul a:hover,
footer ul.links-group ul a:active,
footer p.links-group ul a:active {
  color: inherit;
}
footer ul.links-group ul.programs img,
footer p.links-group ul.programs img {
  display: none !important;
}
footer ul.links-group ul a,
footer p.links-group ul a {
  margin-bottom: 5px;
  line-height: 1em;
}
footer ul.links-group a,
footer p.links-group a,
footer ul.links-group span.main,
footer p.links-group span.main {
  font-size: 12px !important;
  display: block;
  margin-bottom: 5px;
}
.profile footer ul.links-group a,
.profile footer p.links-group a,
.profile footer ul.links-group span.main,
.profile footer p.links-group span.main {
  display: inline;
}
footer ul.links-group > li > a,
footer p.links-group > li > a,
footer ul.links-group a.main,
footer p.links-group a.main {
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}
footer a.nrc {
  font-size: 85%;
  color: #ffffff;
  display: inline-block;
  margin-top: 8px;
}
footer a.nrc:link,
footer a.nrc:visited {
  color: #ffffff;
}
footer a.nrc:hover,
footer a.nrc:focus {
  color: #ffffff;
}
footer a.nrc:before,
footer a.nrc:after {
  content: " ";
  display: table;
}
footer a.nrc:after {
  clear: both;
}
footer a.nrc:before,
footer a.nrc:after {
  content: " ";
  display: table;
}
footer a.nrc:after {
  clear: both;
}
footer .btn.donate {
  color: #186273;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 25px;
  padding: 10px 35px;
}
footer div.sign-up {
  padding: 15px 30px 20px;
  background-color: #40798a;
  margin-bottom: 25px;
}
footer div.sign-up label {
  font-size: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
}
footer div.sign-up form.sign-up .input-group-sm > .input-group-btn > .btn {
  color: #186273;
}
footer div.sign-up form.sign-up .input-group-sm > .input-group-btn > .btn:hover {
  color: #bbbdbf;
}
footer .social-icons {
  text-align: center;
}
footer .social-icons a {
  margin-right: 10px;
}
footer .social-icons a:link,
footer .social-icons a:hover,
footer .social-icons a:focus,
footer .social-icons a:visited {
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
}
footer .social-icons .fa-inverse {
  color: #186273;
}
footer .social-icons .fa-inverse:hover,
footer .social-icons .fa-inverse:focus {
  color: #ffcd0a;
}
footer .donate {
  text-align: center;
}
footer .separator {
  border-top: 1px solid #99afbd;
}
footer img.logo {
  max-width: 311px;
}
footer .address {
  font-size: 80%;
  font-weight: 700;
  margin-top: 20px;
  line-height: 18px;
}
footer .address a {
  font-size: 85%;
  font-weight: inherit;
}
footer .address a:hover {
  color: #99afbd;
  font-size: 85%;
  font-weight: inherit;
}
footer .badges .img {
  position: relative;
  float: right !important;
  margin: 15px 0;
}
footer .badges .img img {
  width: 100%;
}
footer .badges .rollover {
  background: url('../images/footer_badges_on.png') no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
footer .badges .rollover.dummy {
  cursor: default;
}
@media (min-width: 768px) {
  footer .social-icons,
  footer p.donate {
    text-align: left;
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  footer .container {
    padding: 30px 0 60px;
  }
}
.page-content {
  padding: 0 0 30px;
}
.page-content a {
  font-size: inherit;
}
.page-content.hp {
  margin-top: 0;
  padding: 40px 0;
}
.page-content .login-prompt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 50px 0;
}
.page-content .login-prompt #li_comp_usr {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  border: none;
}
.page-content .login-prompt #li_comp_usr_rmbrTd {
  display: none !important;
}
.social-share {
  z-index: 10;
}
.social-share a {
  float: left !important;
  display: block;
  color: #a9a9a9;
  margin: 25px 5px;
}
.social-share a:link,
.social-share a:visited {
  color: #a9a9a9;
}
.social-share a:hover {
  color: #000000;
}
.hp .social-share {
  position: absolute;
  margin: 0;
  top: 0;
  left: 15px;
  line-height: 15px;
  padding: 1%;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff, endColorstr=#e6ffffff)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6ffffff, endColorstr=#e6ffffff);
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2);
}
.hp .social-share a {
  margin-top: 0;
  margin-bottom: 0;
}
.social-share .atclear {
  clear: inherit;
}
.water-mark,
.water-mark-b,
.water-mark-w,
.side-box.fact {
  z-index: 1;
}
.water-mark:after,
.water-mark-b:after,
.water-mark-w:after,
.side-box.fact:after {
  content: "";
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.07;
  filter: alpha(opacity=7.000000000000001);
  position: absolute;
  width: 80%;
  max-width: 117px;
  height: 0px;
  padding-bottom: 70%;
  background: url(../images/logo_water_mark_b.png) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  z-index: -1;
}
.water-mark-w:after {
  opacity: 0.13;
  filter: alpha(opacity=13);
  background-image: url(../images/logo_water_mark_w.png);
}
.social-share-container {
  position: relative;
  z-index: 2;
}
.img-txt-listing {
  margin-left: -15px;
  margin-right: -15px;
}
.img-txt-listing .img {
  float: left !important;
  max-width: 150px;
  min-width: 100px;
  padding-bottom: 9px;
}
.img-txt-listing .img .ratio {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.img-txt-listing .img .ratio img {
  position: relative;
  top: 50%;
  /*  top: 0%\9;*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  left: 0;
}
@media (min-width: 992px) {
  .img-txt-listing .img {
    padding-right: 0;
    min-width: auto;
  }
}
.banner {
  position: relative;
  margin-bottom: 15px;
}
.banner .caption {
  background-color: #186273;
  color: #ffffff;
  padding: 15px;
}
@media (min-width: 768px) {
  .banner .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #186273;
    background-color: rgba(24, 97, 114, 0.9);
    zoom: 1;
    background-color: transparent\9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6186172, endColorstr=#e6186172)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6186172, endColorstr=#e6186172);
  }
}
@media (min-width: 992px) {
  .banner .caption {
    width: 30%;
  }
}
.banner .caption a {
  color: #ffcd0a;
  background-color: transparent;
  border-color: transparent;
}
.banner .caption a:hover,
.banner .caption a:focus,
.banner .caption a.focus,
.banner .caption a:active,
.banner .caption a.active,
.open > .dropdown-toggle.banner .caption a {
  color: #ffcd0a;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.banner .caption a:active,
.banner .caption a.active,
.open > .dropdown-toggle.banner .caption a {
  background-image: none;
}
.banner .caption a.disabled,
.banner .caption a[disabled],
fieldset[disabled] .banner .caption a,
.banner .caption a.disabled:hover,
.banner .caption a[disabled]:hover,
fieldset[disabled] .banner .caption a:hover,
.banner .caption a.disabled:focus,
.banner .caption a[disabled]:focus,
fieldset[disabled] .banner .caption a:focus,
.banner .caption a.disabled.focus,
.banner .caption a[disabled].focus,
fieldset[disabled] .banner .caption a.focus,
.banner .caption a.disabled:active,
.banner .caption a[disabled]:active,
fieldset[disabled] .banner .caption a:active,
.banner .caption a.disabled.active,
.banner .caption a[disabled].active,
fieldset[disabled] .banner .caption a.active {
  background-color: transparent;
  border-color: transparent;
}
.banner .caption a .badge {
  color: transparent;
  background-color: #ffcd0a;
}
.banner .caption h2,
.banner .caption h2 small {
  color: inherit;
}
.panel-pwna-default {
  border-color: #a9a9a9;
}
.panel-pwna-default > .panel-heading {
  color: #ffffff;
  background-color: #c5664f;
  border-color: #a9a9a9;
}
.panel-pwna-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #a9a9a9;
}
.panel-pwna-default > .panel-heading .badge {
  color: #c5664f;
  background-color: #ffffff;
}
.panel-pwna-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #a9a9a9;
}
.panel-heading:before,
.panel-heading:after {
  content: " ";
  display: table;
}
.panel-heading:after {
  clear: both;
}
.panel-heading:before,
.panel-heading:after {
  content: " ";
  display: table;
}
.panel-heading:after {
  clear: both;
}
a.story-list-item {
  text-decoration: none !important;
  padding-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.story-list-item .caption p:before,
a.story-list-item .caption p:after {
  content: " ";
  display: table;
}
a.story-list-item .caption p:after {
  clear: both;
}
a.story-list-item .caption p:before,
a.story-list-item .caption p:after {
  content: " ";
  display: table;
}
a.story-list-item .caption p:after {
  clear: both;
}
a.story-list-item .caption .more {
  float: right !important;
  font-weight: 700;
  text-decoration: underline;
}
a.story-list-item .caption .more:after {
  content: '\f101';
  font-family: 'FontAwesome';
  font-weight: normal;
  text-decoration: none;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.story-list-item:hover .img .ratio {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
a.story-list-item:hover .caption .more:after {
  padding-left: 10px;
  padding-right: 0px;
}
a.story-list-item.large {
  padding: 10px;
  margin: 15px 0;
  overflow: hidden;
  background-color: #aeb0b3;
}
a.story-list-item.large .img {
  background-color: #bbbdbf;
  overflow: hidden;
  display: table-cell;
  width: 25%;
  min-width: 100px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.story-list-item.large .img .ratio {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 0;
  padding-bottom: 85%;
}
a.story-list-item.large .img img {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  min-width: 100%;
}
a.story-list-item.large .caption {
  padding: 15px;
  background-color: #bbbdbf;
  display: table-cell;
  vertical-align: top;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.story-list-item.large .caption:before {
  display: none !important;
  content: "";
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 26px 18px;
  border-color: transparent transparent #bbbdbf transparent;
}
a.story-list-item.large:hover .img,
a.story-list-item.large:hover .caption {
  background-color: #aeb0b3;
}
a.story-list-item.large:hover .img .ratio {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
a.story-list-item.large:hover .caption:before {
  top: -23px;
  border-bottom-color: #aeb0b3;
}
@media (min-width: 768px) {
  a.story-list-item.large {
    padding: 0;
  }
  a.story-list-item.large .img,
  a.story-list-item.large .caption {
    display: block;
    width: 100%;
  }
  a.story-list-item.large .caption:before {
    display: block !important;
  }
}
.announcement {
  position: relative;
  z-index: 2;
  color: #ffffff;
}
.announcement .container-fluid {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c5664f;
  z-index: 10;
}
.expand.announcement .container-fluid {
  border-bottom: 7px solid #333333;
}
.announcement .box {
  width: 100%;
  max-width: 675px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.announcement .box:before,
.announcement .box:after {
  content: " ";
  display: table;
}
.announcement .box:after {
  clear: both;
}
.announcement .box:before,
.announcement .box:after {
  content: " ";
  display: table;
}
.announcement .box:after {
  clear: both;
}
.expand.announcement .box {
  padding: 23px 0;
}
.announcement .box h4 {
  color: inherit;
}
.announcement .box img {
  float: left !important;
  margin-right: 35px;
  margin-bottom: 25px;
}
.hp-feature {
  max-width: 425px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hp-feature h4 {
  margin-top: 20px;
  line-height: 1.4;
  font-size: 22px;
}
.hp-feature p {
  font-size: 18px;
}
.hp-feature a.btn {
  padding: 15px 22px;
}
@media (min-width: 992px) {
  .hp-inform {
    padding: 0 25px;
  }
}
.hp-inform h4 {
  font-size: 22px;
}
.hp-inform a.btn {
  margin-top: 10px;
}
.outcome {
  text-align: center;
  color: #ffffff;
  background-color: #bcbdc1;
  border-width: 0 0 0 10px;
  border-style: solid;
  border-color: #a9a9a9;
  position: relative;
  padding: 10px 0;
  line-height: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.outcome strong {
  font-size: 20px;
}
.outcome span {
  display: inline-block;
  white-space: nowrap;
}
.outcome.theme1 {
  border-color: #e22427;
}
.outcome.theme2 {
  border-color: #792a7e;
}
.outcome.theme3 {
  border-color: #ffcd0a;
}
.outcome.theme4 {
  border-color: #c5664f;
}
@media (min-width: 480px) {
  .outcome {
    min-height: 137px;
    border-width: 10px 0 0 0;
    z-index: 1;
  }
  .outcome:after {
    content: "";
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.07;
    filter: alpha(opacity=7.000000000000001);
    position: absolute;
    width: 80%;
    max-width: 117px;
    height: 0px;
    padding-bottom: 70%;
    background: url(../images/logo_water_mark_b.png) no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    z-index: -1;
  }
  .outcome span {
    display: block;
    margin: 0 10px;
  }
  .outcome strong {
    display: block;
    font-size: 40px;
    margin: 30px 0;
  }
}
.hp-sign-up {
  background-color: #8c8c8e;
  color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 137px;
}
.hp-sign-up label {
  margin-bottom: 15px;
}
.hp-sign-up form.sign-up .btn {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}
div.page-title {
  background: url('../images/heading_bg.gif');
  background-color: #e22427;
  min-height: 10px;
}
div.page-title h1 {
  font-family: 'Oswald';
  font-weight: 300;
  padding: 10px 15px;
  margin: 21px -15px;
  line-height: 26px;
  color: #ffffff;
  background-color: #e22427;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.callout {
  clear: both;
}
.callout img {
  float: right !important;
  margin-bottom: 30px;
  margin-top: -40px;
}
.callout h2 {
  font-size: 1.8em;
  margin-top: 0;
}
.callout h2 small,
.callout h2 .small {
  color: inherit;
}
.callout p {
  font-size: 1.4em;
}
ul.side-nav {
  background-color: #c5664f;
  color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 30px;
  list-style: none;
}
ul.side-nav a,
ul.side-nav a:link,
ul.side-nav a:hover,
ul.side-nav a:visited {
  color: #ffffff;
  text-decoration: none;
}
ul.side-nav > li > a {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}
ul.side-nav ul {
  display: block !important;
  position: relative;
  float: none;
  background: transparent;
  box-shadow: none;
  margin: 0;
  list-style: none;
  padding: 0;
}
ul.side-nav ul a {
  padding: 0;
  margin: 0;
  white-space: normal;
}
ul.side-nav ul a:link,
ul.side-nav ul a:hover,
ul.side-nav ul a:visited,
ul.side-nav ul a:active {
  background: transparent;
}
ul.side-nav ul a:hover,
ul.side-nav ul a:active {
  color: inherit;
}
ul.side-nav ul a {
  margin-bottom: 5px;
  font-size: 1.2em;
}
ul.side-nav ul a:hover {
  color: #000000;
}
ul.side-nav ul li.current a {
  color: #000000;
}
.side-box {
  position: relative;
  background-color: #c5664f;
  color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 30px;
}
.side-box.fact {
  background: url('../images/fact_bg.gif');
  min-height: 150px;
  text-align: center;
  font-size: 1.5em;
  overflow: hidden;
}
.side-box.fact:after {
  opacity: 0.13;
  filter: alpha(opacity=13);
  background-image: url(../images/logo_water_mark_w.png);
}
.side-box.fact strong {
  font-size: 1.8em;
  display: block;
  line-height: 1.7;
}
.side-box.fact:before {
  content: "";
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 95%;
  height: 90%;
  background-color: #c5664f;
  background-color: rgba(196, 103, 79, 0.9);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6c4674f, endColorstr=#e6c4674f)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6c4674f, endColorstr=#e6c4674f);
  z-index: -1;
}
.side-box h4,
.side-box h5 {
  color: inherit;
}
.side-box a:hover {
  color: #000000;
}
.payment-type-element-container {
  margin-top: 15px;
}
.payment-type-element-container .payment-field-container {
  border: 2px solid #bbbdbf;
  padding: 0 15px 10px;
  margin-top: -2px;
}
.payment-type-element-container .payment-field-container span.internal-payment,
.payment-type-element-container .payment-field-container span.external-payment {
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  float: left !important;
}
.payment-type-element-container .payment-field-container span.internal-payment span.payment-type-option,
.payment-type-element-container .payment-field-container span.external-payment span.payment-type-option {
  border: 2px solid #bbbdbf !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 47px;
}
.payment-type-element-container .payment-field-container span.internal-payment span.payment-type-option.selected {
  border-bottom-color: #ffffff !important;
}
.payment-type-element-container .payment-type-selection-container {
  border: none;
  padding: 0;
  margin: 0;
}
.payment-type-element-container .payment-type-selection-container:before,
.payment-type-element-container .payment-type-selection-container:after {
  content: " ";
  display: table;
}
.payment-type-element-container .payment-type-selection-container:after {
  clear: both;
}
.payment-type-element-container .payment-type-selection-container:before,
.payment-type-element-container .payment-type-selection-container:after {
  content: " ";
  display: table;
}
.payment-type-element-container .payment-type-selection-container:after {
  clear: both;
}
.payment-type-element-container .payment-type-selection-container h3 {
  float: left !important;
  margin: 0;
  padding-right: 10px;
  line-height: 47px;
  text-transform: none;
}
.payment-type-element-container .payment-type-selection-container .form-content,
.payment-type-element-container .payment-type-selection-container .form-row {
  margin: 0;
}
.services h4 {
  margin-top: 0;
}
.services .row {
  margin-bottom: 15px;
}
blockquote footer {
  background-color: #ffffff;
}
blockquote footer cite {
  display: block;
}
blockquote footer:before {
  display: inline;
}
.accordion-wrapper {
  display: block;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}
.accordion-wrapper .accordion-title {
  display: block;
  position: relative;
  padding-left: 34px;
  border: 1px solid #000000;
  font-size: 1.3em;
}
.accordion-wrapper .accordion-title span {
  display: block;
  padding: 8px 15px;
  border-left: 1px solid #000000;
}
.accordion-wrapper .accordion-title:link,
.accordion-wrapper .accordion-title:hover,
.accordion-wrapper .accordion-title:visited {
  text-decoration: none;
}
.accordion-wrapper .accordion-title:before {
  left: 0;
  width: 34px;
  text-align: center;
  position: relative;
  top: 50%;
  /*  top: 0%\9;*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  font-family: "FontAwesome";
  content: "\f067";
}
.accordion-wrapper .accordion-title.active {
  color: #ffffff;
  background-color: #c5664f;
}
.accordion-wrapper .accordion-title.active:before {
  content: "\f068";
}
.accordion-wrapper .accordion-content {
  display: none;
  padding: 5px 32px;
  border: 1px solid #000000;
  border-top: none;
}
.accordion-wrapper .accordion-content p {
  margin: 15px 0;
}
.multilevelpushmenu_wrapper {
  position: absolute;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.multilevelpushmenu_wrapper .levelHolderClass {
  position: absolute;
  overflow: hidden;
  top: 0;
  background: #186273;
  width: auto;
  min-height: 100%;
  font-size: 1em;
  zoom: 1;
  z-index: 1;
}
.multilevelpushmenu_wrapper .ltr {
  margin-left: -100%;
  left: 0;
  -moz-box-shadow: 5px 0 5px -5px #1f4164;
  -webkit-box-shadow: 5px 0 5px -5px #1f4164;
  box-shadow: 5px 0 5px -5px #1f4164;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164, direction=90, strength=2);
}
.multilevelpushmenu_wrapper .rtl {
  margin-right: -100%;
  right: 0;
  -moz-box-shadow: 5px 0 5px 5px #1f4164;
  -webkit-box-shadow: 5px 0 5px 5px #1f4164;
  box-shadow: 5px 0 5px 5px #1f4164;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164, direction=270, strength=2);
}
.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
  background: #186273;
}
.multilevelpushmenu_wrapper h2 {
  font-size: 1.1em;
  line-height: 1em;
  font-weight: 700;
  color: #ffcd0a;
  padding: 0 .4em 0 .4em;
}
.multilevelpushmenu_wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.multilevelpushmenu_wrapper ul.programs {
  background-color: #f9f9f9;
}
.multilevelpushmenu_wrapper ul.programs span {
  display: none !important;
}
.multilevelpushmenu_wrapper li {
  cursor: pointer;
  border-top: 1px solid #fff;
  padding: .4em .4em .4em .4em;
  -webkit-transition: background ease-in-out .3s, box-shadow ease-in-out .3s;
  -o-transition: background ease-in-out .3s, box-shadow ease-in-out .3s;
  transition: background ease-in-out .3s, box-shadow ease-in-out .3s;
}
.multilevelpushmenu_wrapper li:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}
.multilevelpushmenu_wrapper li:first-child {
  border-top: none;
}
.multilevelpushmenu_wrapper a {
  display: block;
  outline: none;
  overflow: hidden;
  font-size: 1.1em;
  line-height: 1em;
  padding: .2em .2em;
  text-decoration: none;
  color: #fff;
}
.multilevelpushmenu_wrapper a:hover {
  color: #ffe;
}
.multilevelpushmenu_wrapper .social-pages a {
  display: inline-block;
}
.multilevelpushmenu_wrapper form {
  position: relative;
  z-index: 0;
}
.multilevelpushmenu_wrapper .backItemClass {
  display: block;
  padding: .4em .4em .4em .4em;
  font-size: 0.8em;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.multilevelpushmenu_wrapper .backItemClass a,
.multilevelpushmenu_wrapper .backItemClass a:link,
.multilevelpushmenu_wrapper .backItemClass a:hover,
.multilevelpushmenu_wrapper .backItemClass a:visited {
  color: #bbbdbf;
}
.multilevelpushmenu_wrapper .floatRight {
  float: right;
}
.multilevelpushmenu_wrapper .floatLeft {
  float: left;
}
.multilevelpushmenu_wrapper .cursorPointer {
  cursor: pointer;
}
.multilevelpushmenu_wrapper .iconSpacing_ltr {
  padding: 0 .4em 0 0;
}
.multilevelpushmenu_wrapper .iconSpacing_rtl {
  padding: 0 0 0 .4em;
}
.mp-pusher {
  position: relative;
}
.mp-pusher .push-toggle {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.pushed.mp-pusher .push-toggle {
  display: block;
}
#mp-menu {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}
.print .full-print {
  width: 100%;
}
.print .accordion-wrapper .accordion-content {
  display: block;
}
.print .callout img {
  margin-top: 0;
}
